 @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

div.welcome{
   max-width: 400px;
   min-height: 520px;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   border-radius: 10px;
   background-color: rgba(#ffffff, 0.5);
   backdrop-filter: blur(2px) brightness(60%);

   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;

   img.img-profile{
     max-width: 100px;
     max-height: 100px;
     border-radius: 50%;
   }

  h2, h3{
    font-family: 'Lora', sans-serif;
  }

  h2{
    font-size: clamp(16px, 20px, 24px);
    text-align: center;
  }

  h3{
    margin: 5px 0;
    color: #575555;

    text-align: center;
    font-weight: lighter;
    font-size: clamp(10px, 13px, 16px);
  }
}

@media screen and (max-width: 400px){
  div.welcome{
    img.img-profile{
      width: 70px;
      height: 70px;
    }
  
    h2{
      font-size: clamp(14px, 18px, 20px);
    }

    h3{
      font-size: clamp(8px, 11px, 14px);
    }
  }
}