@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

p.title{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

p{
  font-size: clamp(10px, 13px, 16px);
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 400px){
  p{
    margin: 0;
    font-size: clamp(8px, 11px, 14px);
  }
}